.filter-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    gap: 10px;
    margin: 0 auto; /* Ensure container is centered */
}

.sve, .dropbtn{
    background: #6a1b9a !important;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: #6a1b9a solid 2px;
}



.splitter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.filter-button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: #6a1b9a solid 2px;
}

.filter-button:hover, .dropbtn:hover{
    background-color: #8e24aa;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Ensure the container is a flexbox to align items */
.search-container {
    display: flex;
    align-items: center;
    border: #8448E5 solid 1px;
    padding: 10px;
    border-radius: 5px;
}

/* Style the input field */
.search-input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 2px;
    background-color: #101010;
    color: #fff;
    flex: 1; /* Make the input take the remaining space */
}

.search-input:active{
    border: none;
    outline: none;
}

/* Style the icon */
.search-container .fa-magnifying-glass {
    margin-right: 10px;
    color: #555; /* Adjust the color as needed */
}

/* Optional: add some focus styles for the input */
.search-input:focus {
    border: none;
    outline: none;
}

/* Optional: adjust the placeholder color */
.search-input::placeholder {
    color: #aaa; /* Adjust the placeholder color as needed */
}
